# This file specifies reviewers which are automatically called in when PR contains specific files, based on file patterns
# 
# IMPORTANT: Being marked in this file does not imply code area ownership or permissions to merge PRs
# 

* @Xyon # Generic fallback

# Generic lua review
*.lua @TheGondos

# Specific areas
/Doc/ @TheGondos
/OVP/ @jarmonikr
/Sound/ @dbeachy1
/Tests/ @DarkWanderer

# CMake/workflows
**/CMakeLists.txt @DarkWanderer
**/*.cmake @DarkWanderer
/cmake/ @DarkWanderer
/.github/ @DarkWanderer
