; === Configuration file for planet Venus ===
Name = Ceres
Module = spice
Kernel = Kernels\orbiter.bsp
Body = CERES
Origin = SUN
Barycenter = CERES
ParentBarycenter = SSB
Interval = 100000 ; Error < 0.5m
;=== Optional parameters ===
;Beginning =  36934.5 ; MJD
;Ending =     69806.5 ; MJD

; === Physical Parameters ===
Mass = 9.38358867965434e20  ; DE440 GM=62.62890 km^3/s^2 
Size = 4.70e5

; === Planetary Mean Orbits ===
;;;;;;; created by cfgData.exe BrianJ 2017
;Epoch =  2015.17453798768
;SemiMajorAxis =  414038719905.507
;Eccentricity =  7.58235509275919E-02
;Inclination =  .184882549108088
;LongAscNode =  1.4020058797879
;LongPerihelion =  2.66863404005355
;MeanLongitude =  4.66808455980284


; === Gravity Models ===
; ref: see Doc/Orbiter Technical Reference.pdf for details on implimentation and usage
GravModelPath = JGDWN_C70E01_SHA.TAB     ; the name of the gravity model file to load, located in /GravityModels
GravCoeffCutoff = 70             ; the maximum number of terms to load.

; === Rotation Elements ===
SidRotPeriod = 32667.84
SidRotOffset = 0
Obliquity = 0.0698
LAN = 2.767

; === Data for the Visual ===
TileFormat = 2
MaxPatchResolution = 11         ; highest sphere patch level
HorizonExcess = 10
BBExcess = 0.01
