; === Configuration file for moon Oberon(Uranus) ===
Name = Oberon
Module = spice
Kernel = Kernels\orbiter.bsp
Body = OBERON
Origin = URANUS
Barycenter = OBERON
ParentBarycenter = URANUS BARYCENTER
Interval = 4140 ; Error < 0.5m

; === Physical Parameters ===
;Mass = 3.03e21
Mass = 3.07711743496247e21          ; URA111 GM=2.053234302535623E+02 km^3/s^2
Size = 761.4e3

; === Rotation and precession parameters ===
; ref: see www.orbiter-forum.com/showthread.php?t=8185
PrecessionLAN = 2.927886186
PrecessionObliquity = 1.434545402
PrecessionPeriod = 26064.42255
LAN = 4.990921993
LAN_MJD = 51544.5
Obliquity = 0.002746236454
SidRotOffset = 4.639499899
SidRotPeriod = -1163223.242
;SidRotPeriod (days): -13.46323197
;SidRotPeriod (days - node to node): -13.45628133
;Precession Period (years): 71.36049978
;Obliquity (deg): 0.1573477584
;Ecliptic LAN (rad): 2.925221366
;Ecliptic Obliquity (rad): 1.435300945
;Ecliptic SidRotOffset (rad): 3.38763382
;Axis RMS Error (deg): 0.4880827534

; === Visualisation Parameters ===
AlbedoRGB = 0.26 0.23 0.21       ; by VF2_Rolf
MaxPatchResolution = 5
