; === Configuration file for moon Rhea(Saturn) ===
Name = Rhea
Module = spice
Kernel = Kernels\orbiter.bsp
Body = 	RHEA
Origin = SATURN
Barycenter = RHEA
ParentBarycenter = SATURN BARYCENTER
Interval = 1510 ; Error < 0.5m

; === Physical Parameters ===
;Mass = 2.49e21
Mass = 2.307091834825272e21       ; SAT375 GM=1.539427790613676E+02 km^3/s^2 
Size = 7.64e5

; === Rotation and precession parameters ===
; ref: see www.orbiter-forum.com/showthread.php?t=8185
PrecessionLAN = 6.094968867
PrecessionObliquity = 0.4919939866
PrecessionPeriod = -12945.41576
LAN = 5.32513397
LAN_MJD = 51544.5
Obliquity = 0.006183031585
SidRotOffset = 1.22441763
SidRotPeriod = 390312.2289
;SidRotPeriod (days): 4.517502649
;SidRotPeriod (days - node to node): 4.515926777
;Precession Period (years): -35.44261672
;Obliquity (deg): 0.3542616144
;Ecliptic LAN (rad): 6.084331971
;Ecliptic Obliquity (rad): 0.4955736381
;Ecliptic SidRotOffset (rad): 1.095532053
;Axis RMS Error (deg): 1.153824146
;Lat/Lon RMS Error (deg): 0.00772789982

; === Visualisation Parameters ===
TileFormat = 2
AlbedoRGB = 0.24 0.23 0.23       ; by VF2_Rolf
MaxPatchResolution = 9
