; === Configuration file for moon Umbriel(Uranus) ===
Name = Umbriel
Module = spice
Kernel = Kernels\orbiter.bsp
Body = UMBRIEL
Origin = URANUS
Barycenter = UMBRIEL
ParentBarycenter = URANUS BARYCENTER
Interval = 1610 ; Error < 0.5m

; === Physical Parameters ===
;Mass = 1.27e21
Mass = 1.2752676388763e21       ; URA111 GM=8.509338094489388E+01 km^3/s^2
Size = 584.7e3

; === Rotation and precession parameters ===
; ref: see www.orbiter-forum.com/showthread.php?t=8185
PrecessionLAN = 2.927843972
PrecessionObliquity = 1.434576005
PrecessionPeriod = 140917.7226
LAN = 4.116612467
LAN_MJD = 51544.5
Obliquity = 0.00349985134
SidRotOffset = 0.9982461153
SidRotPeriod = -358056.8261
;SidRotPeriod (days): -4.144176228
;SidRotPeriod (days - node to node): -4.144054359
;Precession Period (years): 385.8116977
;Obliquity (deg): 0.2005267107
;Ecliptic LAN (rad): 2.924919222
;Ecliptic Obliquity (rad): 1.432612636
;Ecliptic SidRotOffset (rad): 5.111199681
;Axis RMS Error (deg): 0.03231203637

; === Visualisation Parameters ===
AlbedoRGB = 0.17 0.17 0.15       ; by VF2_Rolf
MaxPatchResolution = 5
