[submodule "Extern/Lua"]
	path = Extern/Lua
	url = https://github.com/dimitry-ishenko-orbiter/lua.git
[submodule "Extern/zlib"]
	path = Extern/zlib
	url = https://github.com/dimitry-ishenko-orbiter/zlib.git
[submodule "Extern/Catch2"]
	path = Extern/Catch2
	url = https://github.com/dimitry-ishenko-orbiter/Catch2.git
