*.user
*.VC.db
**/.vs/
meshres*.h
CMakeSettings.json
out/**
!/Sound/XRSound/XRSound/**/*.vcxproj.user
**/*.bak
Sound/XRSound/**/Debug/
Sound/XRSound/**/Release/
Sound/XRSound/**/x64/
Sound/XRSound/**/dist/
Sound/XRSound/**/Debug-with-OrbiterRelease/
Sound/XRSound/**/Release-with-OrbiterRelease/
