*.user
*.VC.db
**/.vs/
meshres*.h
CMakeSettings.json
out/**
!/Sound/XRSound/XRSound/**/*.vcxproj.user
**/*.bak
**/*.mo

# .NET-specific directories
bin/
obj/

# XRSound-specific directories
Sound/XRSound/**/Debug/
Sound/XRSound/**/Release/
Sound/XRSound/**/x64/
Sound/XRSound/**/dist/
Sound/XRSound/**/Debug-with-OrbiterRelease/
Sound/XRSound/**/Release-with-OrbiterRelease/

# KDevelop-specific files
*.kdev4
.kdev/
[Bb]uild/

Extern/irrKlang

Doc/**/*.log
Doc/**/*.pdf
Doc/**/*.gz
