; === Configuration file for planet Saturn ===
Name = Saturn
Module = Saturn
ErrorLimit = 1e-6
SamplingInterval = 1290        ; interpolation sampling interval [s]
                               ; (interpolation error ~1m)
; === Physical Parameters ===
Mass = 5.6846272e+26
Size = 5.8232e7                ; mean radius
JCoeff = 0.01645               ; J2 coefficient for gravitational potential
AlbedoRGB = 1.19 1.11 0.96     ; 1.92 1.81 1.51

; === Rotation and precession parameters ===
; ref: see www.orbiter-forum.com/showthread.php?t=8185
PrecessionLAN = 5.125198679
PrecessionObliquity = 0.04338756247
PrecessionPeriod = -1038685047
LAN = 1.046172688
LAN_MJD = 51544.5
Obliquity = 0.4665349048
SidRotOffset = 3.043083327
SidRotPeriod = 38362.40004
;SidRotPeriod (days): 0.4440092598
;SidRotPeriod (days - node to node): 0.4440092596
;Precession Period (years): -2843764.675
;Obliquity (deg): 26.73048104
;Ecliptic LAN (rad): 6.100405924
;Ecliptic Obliquity (rad): 0.4896028032
;Ecliptic SidRotOffset (rad): 2.060306985
;Axis RMS Error (deg): 9.561289836e-008
;Lat/Lon RMS Error (deg): 3.346335441e-005

; === Ring Parameters ===
RingMinRadius = 1.278          ; inner ring radius in units of planet radius
RingMaxRadius = 2.407          ; outer ring radius

;=== Atmospheric Parameters ===
AtmPressure0 = 75.4e4
AtmDensity0 = 0.7293
AtmGasConstant = 174.92        ; ? specific gas constant [J/(K kg)]
AtmGamma = 1.3333              ; specific heat ratio c_p/c_v
AtmAltLimit = 2900e3
AtmHorizonAlt = 750e3          ; horizon rendering altitude [m]
AtmColor0 = 0.89 0.85 0.68
AtmHazeColor = 0.34 0.34 0.43
AtmHazeDensity = 0.61
AtmHazeExtent = 0.011
 
; === Data for the Visual ===
MaxPatchResolution = 6         ; highest sphere patch level
