; === Configuration file for moon Hyperion(Saturn) ===
Name = Hyperion
;Module = Hyperion
EllipticOrbit = TRUE           ; assume unperturbed orbit
HasElements = TRUE             ; orbital elements follow

; === Planetary Mean Orbits ===
Epoch =  2010.0
SemiMajorAxis = 1.4772e9
Eccentricity = 0.0757
Inclination = 0.471841
LongAscNode = 2.94786
LongPerihelion = 3.19212
MeanLongitude = 5.26393



; === Physical Parameters ===
Mass = 1.77e19
Size = 143e3
SidRotPeriod = 119600            ; by Chode - note: Rotation is chaotic, NOT synchronous
SidRotOffset = 0
Obliquity = 0.4895               ; inherit from Saturn
LAN = 6.09808                    ; inherit from Saturn
AlbedoRGB = 0.21 0.16 0.17       ; by VF2_Rolf

; === Visualisation Parameters ===
;TileFormat = 2
;LabelFormat = 2
MaxPatchResolution = 8
ElevationResolution = 2.0
HorizonExcess = 1000
