#--------------------------------------------------------------------------
# XRSound Configuration File -- overrides for Shuttle-A (ShuttleA class) vessels.
#
# For XRSound Version 3.0.
#
# See 'XRSound-DeltaGlider.cfg' for documentation about these settings.
#
# D. Beachy, 31-Jul-2021
#--------------------------------------------------------------------------

[SOUND_FILES]
#--------------------------------------------------------------------------
# RCS jets attack (open) sounds.
# Sound IDs = 10040 - 10045
#--------------------------------------------------------------------------
RCSAttackPlusX = XRSound\Default\RCS Open.wav
RCSAttackPlusY = XRSound\Default\RCS Open.wav
RCSAttackPlusZ = XRSound\Default\RCS Open.wav
RCSAttackMinusX = XRSound\Default\RCS Open.wav
RCSAttackMinusY = XRSound\Default\RCS Open.wav
RCSAttackMinusZ = XRSound\Default\RCS Open.wav

#--------------------------------------------------------------------------
# RCS jets close (release) sounds.
# Sound IDs = 10046 - 10051
#--------------------------------------------------------------------------
RCSClosePlusX = XRSound\Default\RCS Shut.wav
RCSClosePlusY = XRSound\Default\RCS Shut.wav
RCSClosePlusZ = XRSound\Default\RCS Shut.wav
RCSCloseMinusX = XRSound\Default\RCS Shut.wav
RCSCloseMinusY = XRSound\Default\RCS Shut.wav
RCSCloseMinusZ = XRSound\Default\RCS Shut.wav

#--------------------------------------------------------------------------
# RCS jets sustain (looping) sound.
# Sound ID = 10008
#--------------------------------------------------------------------------
RCSSustain = XRSound\Default\RCS Sustain.wav

# Landing Gear
[animation_5]
OpenCloseSoundID = 12002
   MovingSoundID = 12003
    PlaybackType = BothViewClose
Opening = XRSound\Default\Gear Down.wav
   Open = XRSound\Default\Gear Down and Locked.wav
 Moving = XRSound\Default\Gear Whine.wav
Closing = XRSound\Default\Gear Up.wav
 Closed = XRSound\Default\Gear Up and Locked.wav
# doesn't have landing gear, so we don't want these effects: IsLandingGear = 1

# Docking Hatch
[animation_2]
OpenCloseSoundID = 12014
   MovingSoundID = 12015
 Moving = XRSound\Default\Hydraulics1.wav
 Closed = XRSound\Default\Thump.wav

# Airlock
[animation_3]
OpenCloseSoundID = 12010
   MovingSoundID = 12011
 Moving = XRSound\Default\Hydraulics1.wav
 Closed = XRSound\Default\Thump.wav
